* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images1/background1.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* .logo{
    width: 50%;
} */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FE6D40;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 12%;
    font-size: 30px;
}
.header-text span{
    font-family: 'Clicker Script', cursive;
    color: #FE6D40;
}
.anm-text span{
    position: relative;
}
.anm-text span::before{
    content: "Web Developer";
    animation: words 20s infinite;
}
.anm-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: black;
    border-left: 2px solid #FE6D40;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid black;
    }
}
@keyframes words{
    0%,20%{
        content: "FrontEnd Developer";
    }
    21%,20%{
        content: "Web Designer";
    }
    41%,20%{
        content: "Android/iOS App Developer";
    }
    61%,20%{
        content: "Graphic Designe";
    }
    81%,20%{
        content: "Web Developer";
    }
}
@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
.btn-container .mybutton{
    text-decoration: none;
    border: .1rem solid #FE6D40;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
.mybutton:nth-child(1){
    background: #FE6D40;
    color: black;
}
.mybutton:nth-child(2){
    background: transparent;
    color: #FE6D40;
    margin-left: 2rem;
}
.mybutton:nth-child(1):hover{
    background: transparent;
    color: #FE6D40;
}
.mybutton:nth-child(2):hover{
    background: #FE6D40;
    color: black;
}
.logo{
    padding: 5px;
    margin-top: 1%;
    width: 10%;
    aspect-ratio: 2/2;
}

/*------------------about----------------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;

}
.about-col1 img{
    width: 100%;
    border-radius: 15px;

}
.about-col2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FE6D40;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fe6c40ab;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*--------------------------Services---------------------------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #FE6D40;
    transform: translateY(-10px);

}

/*--------------------------Portfolio---------------------------------*/

#portfolio{
    padding: 50px 0;
} 
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgb(0,0,0,0.6),#FE6D40);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 10px;
    color: #FE6D40;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #FE6D40;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #FE6D40;
}

/*--------------------contact--------------------*/

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #FE6D40;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    margin-top: 30px;
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover{
    color: #FE6D40;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #FE6D40;
}
.btn-dl{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #FE6D40;
    padding: 14px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}
.btn-dl:hover{
    background: #FE6D40;
}
.btn-dl::before{
    content: '';
    top: 0%;
    left: 100%;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: #FE6D40;
}
/* Add this CSS to your style.css file */
.progress-bar {
    background-color: #FE6D40;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    transition: width 0.2s ease-in-out;
  }
  
/* .btn-dl{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #FE6D40;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn-dl:hover{
    background: #FE6D40;
}
.btn-dl{
    display: inline-block;
    background: #FE6D40;
}
.btn-dl::before{
    content: '';
    position: absolute;
    height: 10%;
    width: fit-content;
    background: #FE6D40;
} */
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.contact-right button i{
    margin-left: 5px;
    /* font-size: 15px; */
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright p i{
    color: red;
    margin-left: 5px;
    margin-right: 5px;
}


/*-------------------------------CSS for small screen---------------------------------------------*/

nav .fas{
    display: none;
}


@media only screen and (max-width: 600px){
    #header{
        background-image: url(images1/phone-background1.png);
    }
    .logo{
        padding: 5px;
        margin-top: 1%;
        width: 20%;
        aspect-ratio: 2/2;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
        margin-top: 50px;
    }
    .btn-container{
        display: inline-flex;
        margin-top: 95%;
        align-items: center;
        margin-left: 8%;
    }
    .btn-container .mybutton{
        font-size: .8rem;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #FE6D40;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col1, .about-col2{
        flex-basis: 100%;
        padding: 30px;
    }
    .about-col1{
        margin-bottom: 30px;
    }
    .about-col2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -20px;
    display: block;
}
